<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container ">
        <div class="d-flex justify-content-center">
            <div class="navbar navbar-expand-lg navbar-light bg-dark ">

                <h1 class="text-primary">Bob the Builder's Cafe</h1>
            </div>
        </div>
        <div class="row">
        <div class='col-7 text-info'>
           <h4>Enter your name into the URL. Eg. /waiters/ammaar</h4> 
        </div>
        </div>
        <div class="d-flex justify-content-center p-4">
            {{#each user}}
            <form action="/waiters/{{this.name}}" method="POST">

                <p>Hi {{this.name}}</p>

                {{/each}}
        </div>

        <div class="row d-flex justify-content-center primary ">

            {{#each weekday}}
            <label for="" class="pl-5 px-3 ">{{this.dayname}}</label><input type="checkbox" value="{{this.dayname}}"
                {{this.checked}} name="chkDays" class="checkbox"> 
            {{/each}}
        </div>
        <div class='msgs'>
            <p class="text-warning ">{{messages.inv}}</p>
            <p class="text-success">{{messages.succ}}</p>
        </div>
        <input type="submit" class="btn btn-light" value="Update shift">





        </form>

    </div>
    </div>
    </div>

    <script>
        setTimeout(function () {
            document.querySelector(".text-warning").innerHTML = "";
            document.querySelector(".text-success").innerHTML = "";
        }, 5000);
    </script>
</body>

</html>