<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>

	{{!-- {{#each counter}}
				<li class={{this.color}}>bread</li>
				{{/each}} --}}
	<div class="container">
	<div class="row">
		<div class="float-left pr-5">
			<a href="/"><i class="fas fa-home fa-2x "></i></a>
		</div>
	</div>
	
{{!-- {{#each counter}}

<p class= {{this.color}}> bread</p>

{{/each}} --}}	


	<form action="/days" method="get">
	<div class="row">
	<table class=" table table-bordered text-light">
		<thead>

			<tr scope="col-3">
				{{!-- {{#if}} --}}

				{{#each days}}

{{!-- 
{{#each counter}} --}}

{{!-- {{#each waiterCount}} --}}
				<th scope="col" class={{this.color}}> 
	
					{{this.dayname}}

				
					{{/each}}
				</th>


			</tr>

		</thead>
		<tbody>
			<tr>

				{{#each days}}

				<td scope="col">
					{{#each waiters}}
					<li>{{this.name}}</li>

					{{/each}}

				</td>

				{{/each}}

			</tr>

		</tbody>

	</table>
	</div>



	</form>
	<div class='row'>
		<form action="/reset" method="get">
<input type="submit" value="Reset" class="btn btn-light">
</div>
</form>
</div>
</body>

</html>