<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>

	{{!-- {{#each counter}}
				<li class={{this.color}}>bread</li>
				{{/each}} --}}
	<div class="row">
		<div class="float-left pr-5">
			<a href="/"><i class="fas fa-home fa-2x "></i></a>
		</div>
	</div>
{{!-- {{#each counter}}

<p class= {{this.color}}> bread</p>

{{/each}} --}}
	<div class='row'>
	<table class=" table table-bordered text-light">
		<thead>

			<tr scope="col-3">
				{{!-- {{#if}} --}}

				{{#each days}}

{{!-- 
{{#each counter}} --}}


				<th scope="col"> 
					{{!-- class={{this.color} --}}

					{{this.dayname}}

					{{!-- {{/each}} --}}
					{{/each}}
				</th>


			</tr>

		</thead>
		<tbody>
			<tr>

				{{#each days}}

				<td scope="col">
					{{#each waiters}}
					<li>{{this.name}}</li>

					{{/each}}

				</td>

				{{/each}}

			</tr>

		</tbody>

	</table>
</div>
	{{!-- 


	

			<table class=" table table-striped table-dark">
<thead>		
		<tr>
					
					{{#each days}}
					<th scope="col">

						{{this.dayname}}

					</th>
					{{/each}}
				</tr>
				</thead>

				<tr>
					{{#each days}}

					<td>
						<ul>{{#each waiters}}
							<li>{{this.name}}</li>
						
						{{/each}}
						
					</td>

					{{/each}}
				</tr>
			</table> --}}


	</form>

</body>

</html>