<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>

	<div class="container">
		<div class="row">
			<div class="float-left pr-5">
				<a href="/"><i class="fas fa-home fa-2x "></i></a>
			</div>

			<div class="col-3 p-2">
				<table class=" d-flex justify-content-center table table-striped text-light">
					<tr>
						<th scope="col">Equal To 3</th>
						<th scope="col">Less Than 3</th>
						<th scope="col">More Than 3</th>
					</tr>
					<tr>
						<td scope="col" class="bg-success"></td>
						<td scope="col" class="bg-danger"></td>
						<td scope="col" class="bg-warning"></td>
					</tr>
				</table>
			</div>
		</div>
		<form action="/days" method="post">
			<div class="row p-2">
				<table class=" table table-bordered text-light">
					<thead>

						<tr scope="col-3">


							{{#each days}}



							<th scope="col" class={{this.color}}>

								{{this.dayname}}


								{{/each}}
							</th>


						</tr>

					</thead>
					<tbody>
						<tr>

							{{#each days}}

							<td scope="col">
								{{#each waiters}}
								<li>{{this.name}}</li>

								{{/each}}

							</td>

							{{/each}}

						</tr>

					</tbody>

				</table>
			</div>

			<div class="row">
				<input type="text" name="waiter" class="" placeholder="Enter waiter" id="" class="">

				{{#each days}}
				<label for="" class="pl-5 px-3 ">{{this.dayname}}</label><input type="checkbox" value="{{this.dayname}}"
					{{this.checked}} name="daysAdmin" class="checkbox">
				{{/each}}


			</div>
			<div class="d-flex justify-content-center">
			<div class='p-3'>
				<input type="submit" value="Update waiter" class=" btn btn-light">
</div>
			</div>
			<div class='row '>
				<p class="text-warning p-2 ">{{messages.inv}}</p>
				<p class="text-success p-2">{{messages.succ}}</p>
			</div>
		</form>
		<div class='row p-2'>
			<form action="/reset" method="get">
			
				<input type="submit" value="Reset" class="btn btn-light">
				
		</div>
		</form>
	</div>
	<script>
		setTimeout(function () {
			document.querySelector(".text-warning").innerHTML = "";
			document.querySelector(".text-success").innerHTML = "";
		}, 5000);
	</script>
</body>

</html>