<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>

	{{!-- {{#each counter}}
				<li class={{this.color}}>bread</li>
				{{/each}} --}}
					<div class="row">
		<div class="col-6 pr-4">
			<a href="/"><i class="fas fa-home fa-2x "></i></a>
		</div>
	</div>
			{{!-- 	 --}}
				<table class="table table-bordered table-dark">
		<thead>

			<tr scope="col">
				
			
				{{#each days}}




				<th scope="col">

					{{this.dayname}}

				</th>
				{{/each}}

			</tr>

		</thead>
		<tbody>
			<tr>

				{{#each days}}

				<td scope="col">
					{{#each waiters}}
					<li>{{this.name}}</li>

					{{/each}}

				</td>

				{{/each}}

			</tr>

		</tbody>

	</table>

	{{!-- 


	

			<table class=" table table-striped table-dark">
<thead>		
		<tr>
					
					{{#each days}}
					<th scope="col">

						{{this.dayname}}

					</th>
					{{/each}}
				</tr>
				</thead>

				<tr>
					{{#each days}}

					<td>
						<ul>{{#each waiters}}
							<li>{{this.name}}</li>
						
						{{/each}}
						
					</td>

					{{/each}}
				</tr>
			</table> --}}


	</form>

</body>

</html>